version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: willitmod-dev-bch-solo-pool_ui_1
      APP_PORT: 3000

  ckpool:
    image: ghcr.io/getumbrel/docker-ckpool-solo:590fb2a@sha256:4e6b8f4f9c7d74c2111a6e082a2bbdc936fa510989a81e7cef714d1da944336b
    command: "-k -B -c /config/ckpool.conf"
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 30s
    ports:
      - "3333:3333/tcp"
    volumes:
      - ${APP_DATA_DIR}/data/config:/config:ro
      - ${APP_DATA_DIR}/data/www:/www

  ui:
    image: python:3.11-alpine
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 30s
    volumes:
      - ${APP_DATA_DIR}/data/ui:/app:ro
      - ${APP_DATA_DIR}/data/config:/config
      - ${APP_DATA_DIR}/data/www:/www:ro
    environment:
      BCH_RPC_USER: "bch"
      BCH_RPC_HOST: "umbrel.local"
      BCH_RPC_PORT: "28332"
      BCH_ZMQ_HOST: "umbrel.local"
      BCH_ZMQ_HASHBLOCK_PORT: "28334"
    command: ["python", "/app/app.py"]

